<mat-toolbar class="tab">
  <div class="menu">
    <button mat-button class="home" id="Home">Home</button>
    <!-- <div class="searchbox-first" #searchBox (input)="search(searchBox.value)"
    (click)="expendSearch($event)" (clickElsewhere)="closeSearch()" id="SearchBar"> -->
    <div class="searchbox-first">
      <div style="display:flex;justify-content: space-between;">
        <div class="place-holder" style="display:inline-block">Search</div>
        <div class="search-icon" style="display:inline-block">?</div>
      </div>
    </div>
    <!-- <button style="display: none;">Music</button>
    <button style="display: none;">Anime</button>
    <button style="display: none;">About</button> -->
  </div>
  <div class="languages">
    <div class="tab-section">
      <button mat-flat-button color="primary" style="width:fit-content; padding-right: 0.5vw;">
        <a href="/about" style="text-decoration: none;color:white;">About</a>
      </button>
      <button mat-mini-fab color="primary" class="language">En</button>
      <button>/</button>
      <button mat-mini-fab color="">עב</button>
    </div>
  </div>
</mat-toolbar>